<section class="billing-page--container">
  <div class="section--wrapper">
    <h2>
      {{ 'billing_text' | translate }}
    </h2>
    <p>{{ 'billing_subtitle' | translate }}</p>
  </div>
  <div class="section--wrapper billing--plan-name-container">
    <hr class="default"/>
    <div>
      <label class="uppercase">{{ 'plan_text' | translate }}</label>
      <h4 class="special uppercase plan-name">{{vm.planName}}</h4>
    </div>
    <div>
      <label class="uppercase">{{ 'price_text' | translate }}</label>
      <h4 class="special plan-price">{{vm.currentCurrency | translate}} {{vm.planPrice | number:2 }} {{ 'each_month' | translate }}</h4>
    </div>
  </div>
  <div class="billing--first-container" ng-class="[ {true: 'hide', false: 'show'}[vm.showConfirmation],{true: 'no-transitions'}[vm.downgrade] ]">
    <form id="form" name="form" novalidate>
      <div class="section--wrapper billing--container">
        <hr class="default"/>
        <h3 class="special">{{ 'billing_address_title' | translate }}</h3>
          <div class="item flex">
            <div class="flex one flex--vertically-start">
              <label class="special uppercase" for="name">{{'downloads_grid_name_header' | translate}}</label>
            </div>
            <div class="flex three flex--wrap">
              <input id="name" name="name" ng-model="vm.name" class="input input--large" validation-errors-fluid required/>              
            </div>
          </div>
          <div class="item flex">
            <div class="flex one flex--vertically-start">
              <label class="special uppercase" for="company">{{'company_text' | translate}}</label>
            </div>
            <div class="flex three flex--wrap">
              <input id="company" name="company" ng-model="vm.company" class="input input--large" validation-errors-fluid required />              
            </div>
          </div>
          <div class="item flex">
            <div class="flex one flex--vertically-start">
              <label class="special uppercase" for="address">{{'address_text' | translate}}</label>
            </div>
            <div class="flex three flex--wrap">
              <input id="address" name="address" ng-model="vm.address" class="input input--large" validation-errors-fluid required />              
            </div>
          </div>
          <div class="item flex">
              <div class="flex one flex--vertically-start">
                <label class="special uppercase" for="city">{{'city_label' | translate}}</label>
              </div>
              <div class="flex three flex--vertically-start city--container">
                <div class="flex one flex--vertically-start flex--wrap">
                  <input id="city" name="city" ng-model="vm.city"class="input input--large" validation-errors-fluid required />
                </div>
                <div class="flex one flex--vertically-start zip--container">
                  <div class="flex one flex--vertically-start flex--wrap label">
                    <label class="special uppercase" for="zCode">{{'zip_code_label' | translate}}</label>
                  </div>
                  <div class="flex three flex--vertically-start flex--wrap">
                    <input id="zCode" name="zCode" ng-model="vm.zCode" validation-errors-fluid class="input input--small width--half" required />
                  </div>
                </div>
              </div>
          </div>
          <div class="item flex">
            <div class="flex one flex--vertically-start">
              <label class="special uppercase" for="country">{{'country_text' | translate}}</label>
            </div>
            <div class="flex three flex--wrap">
            <ui-select id="country" name="country" ng-model="vm.country" on-select="form.country.$modelValue = $model" validation-errors-fluid required>
              <ui-select-match placeholder="{{ 'select_choose_country' | translate }}">
                <span ng-bind-html="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in (vm.resources.countries | filter: $select.search)">
                <span class="select-option" ng-bind-html="item.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
            </div>
          </div>
      </div>
      <div class="section--wrapper credit-card--container">
          <h3 class="special">{{ 'payment_method_title' | translate }}</h3>
          <div class="item flex">
            <div class="flex flex--vertically-start">
              <label class="special uppercase" for="creditCardRadio">{{'credit_card_option' | translate}}</label>
            </div>
          <!-- Add this code when add other payment method -->
          <!-- <div class="flex flex--vertically-center flex--wrap">
            <input id="creditCardRadio" type="radio" name="creditCardRadio" ng-model="vm.creditCardRadio" ng-class="(vm.submitted || form.creditCardRadio.$dirty) && form.creditCardRadio.$invalid ? 'error' : ''" class="input input--large" required />
          </div> -->
          </div>
          <div class="item flex">
            <div class="flex one flex--vertically-start">
              <label class="special uppercase" for="cardHolder">{{'card_holder_label' | translate}}</label>
            </div>
            <div class="flex three flex--wrap">
              <input id="cardHolder" name="cardHolder" ng-model="vm.cardHolder" class="input input--large" validation-errors-fluid  required />              
            </div>
          </div>
          <div class="item flex">
            <div class="flex one flex--vertically-start">
              <label class="special uppercase" for="cardNumber">{{'card_number_label' | translate}}</label>
            </div>
          <div class="flex three credit-card flex--wrap flex--vertically-start" ng-class="vm.cc.brand">
            <div class="flex one flex--wrap">
              <input id="cc.number" ng-model="vm.cc.number" name="cardNumber" autocomplete="off" ui-mask="{{vm.cc.mask}}" ui-options="vm.maskOptions" class="input input--large" validation-errors-fluid required />
            </div>
            <div class="flex three flex--vertically-center cards-icons--container">
              <svg class="icon icon-visa">
                <use xlink:href="/images/sprite.svg#doppler-icon-visa-card"></use>
              </svg>
              <svg class="icon icon-master">
                <use xlink:href="/images/sprite.svg#doppler-icon-master-card"></use>
              </svg>
              <svg class="icon icon-amex">
                <use xlink:href="/images/sprite.svg#doppler-icon-american-card"></use>
              </svg>   
            </div>           
            </div>
          </div>
          <div class="item flex">
            <div class="flex one flex--vertically-start">
              <label class="special uppercase" for="expDate">{{'exp_date_label' | translate}}</label>
            </div>
            <div class="flex three flex--wrap">
              <input id="expDate" name="expDate" autocomplete="off" ui-mask="99/99" ng-change="vm.checkExpDate(form.expDate)" ui-mask-placeholder ui-options="vm.maskOptions" ng-model="vm.expDate" class="input input--large" validation-errors-fluid required />              
            </div>
          </div>
          <div class="item flex">
            <div class="flex one flex--vertically-start">
              <label class="special uppercase" for="securityCode">{{'sec_code_label' | translate}}</label>
            </div>
            <div class="flex three flex--wrap">
              <input id="secCode" ng-model="vm.secCode.number" name="secCode" autocomplete="off" ui-mask="{{vm.secCode.mask}}" ui-options="vm.maskOptions" class="input input--extra-small" validation-errors-fluid  required />              
            </div>
          </div>
      </div>
      <div class="section--wrapper button--container flex--wrap">
        <button class="button button--small button--white" ng-click="vm.redirectToPlanSelection();">{{'billing_change_plan_button' | translate}}</button>
        <button class="button button--small check-button" ng-click="vm.submitBilling(form);">{{'billing_check_button' | translate}}</button>
      </div>
    </form>
  </div>
  <div class="section--wrapper billing--plan-confirmation" ng-class="[ {true: 'show', false: 'hide'}[vm.showConfirmation],{true: 'no-transitions'}[vm.downgrade] ]">
    <hr class="default" />
    <div class="item">
      <h3>{{ 'billing_address_title' | translate }}</h3>
    </div>
    <div class="item flex flex--wrap first">
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{'downloads_grid_name_header' | translate}}</label>
        <p id="nameConfirmation" tooltips tooltip-template="{{vm.name}}" tooltip-hidden="{{vm.name.length < 20}}" ng-class="vm.name.length > 20 ? 'hide': 'show'">{{vm.name}}</p>
      </div>
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{'company_text' | translate}}</label>
        <p id="companyConfirmation" tooltips tooltip-template="{{vm.company}}" tooltip-hidden="{{vm.company.length < 20}}" ng-class="vm.company.length > 20 ? 'hide': 'show'">{{vm.company}}</p>
      </div>
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{'address_text' | translate}}</label>
        <p id="addressConfirmation" tooltips tooltip-template="{{vm.address}}" tooltip-hidden="{{vm.address.length < 20}}" ng-class="vm.address.length > 20 ? 'hide': 'show'">{{vm.address}}</p>
      </div>
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{'city_label' | translate}}</label>
        <p id="cityConfirmation" tooltips tooltip-template="{{vm.city}}" tooltip-hidden="{{vm.city.length < 20}}" ng-class="vm.city.length > 20 ? 'hide': 'show'">{{vm.city}}</p>
      </div>
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{'zip_code_label' | translate}}</label>
        <p id="zCodeConfirmation" tooltips tooltip-template="{{vm.zCode}}" tooltip-hidden="{{vm.zCode.length < 20}}" ng-class="vm.zCode.length > 20 ? 'hide': 'show'">{{vm.zCode}}</p>
      </div>
    </div>
    <div class="item flex flex--wrap">
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{'country_text' | translate}}</label>
        <p id="countryConfirmation" tooltips tooltip-template="{{vm.country.name}}" tooltip-hidden="{{vm.country.name.length < 20}}" ng-class="vm.country.name.length > 20 ? 'hide': 'show'">{{vm.country.name}}</p>
      </div>
    </div>
    <div class="item">
      <h3>{{ 'payment_method_title' | translate }}</h3>
    </div>
    <div class="item flex flex--wrap">
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{'card_holder_label' | translate}}</label>
        <p id="cardHolderConfirmation" tooltips tooltip-template="{{vm.cardHolder}}" tooltip-hidden="{{vm.cardHolder.length < 20}}" ng-class="vm.cardHolder.length > 20 ? 'hide': 'show'">{{vm.cardHolder}}</p>
      </div>
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{'card_number_label' | translate}}</label>
        <p id="ccNumberConfirmation">{{vm.cc.parsedCcNumber}}</p>
      </div>
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{'exp_date_label' | translate}}</label>
        <p id="expDateConfirmation">{{vm.viewExpDate}}</p>
      </div>
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{'sec_code_label' | translate}}</label>
        <p id="secCodeConfirmation">{{vm.secCode.ParsedNumber}}</p>
      </div>
    </div>
    <div class="button--container flex--wrap">
      <div class="detached--error-container" ng-class="vm.submitted && vm.paymentFailure ? 'show':'hide'">
        <span class="detached--error">{{'validation_error_payment_failure' | translate}}</span>
      </div>
      <button class="button button--small button--white modify-button" ng-click="vm.cancelAction()"><span ng-if="!vm.downgrade">{{'billing_change_info_button' | translate}}</span><span ng-if="vm.downgrade">Volver a My Plan</span></button>
      <button class="button button--small buy-button" ng-click="vm.submitBillingPayment()">{{'buy_text' | translate}}</button>
    </div>
  </div>
</section>
