<section class="section--wrapper connection--settings-container">
  <h2>{{'connection-settings_title' | translate}}</h2>
  <p>{{'connection-settings_subtitle' | translate}}</p>
  <div>
    <spinner class="spinner section--wrapper" ng-if="vm.loadInProgress"></spinner>
  </div>
  <div class="connection--settings-data-container" ng-if="!vm.loadInProgress">
    <div>
      <label>{{'connection-settings_host_smtp_title' | translate}}</label>
      <p>{{vm.hostSmtp}}</p>
    </div>
    <div class="small-col">
      <label>{{'connection-settings_port_smtp_title' | translate}}</label>
      <p>{{vm.portSmtp}}</p>
    </div>
    <div>
      <label>{{'connection-settings_user_smtp_title' | translate}}</label>
      <p>{{getLoggedUserEmail()}}</p>
    </div>
  </div>
  <div class="connection--settings-data-container" ng-if="!vm.loadInProgress">
    <div>
      <label>{{'connection-settings_api_url_title' | translate}}</label>
      <p>{{vm.apiUrl}}</p>
    </div>
    <div class="small-col">
      <label>{{'connection-settings_api_id_title' | translate}}</label>
      <p>{{getAccountId()}}</p>
    </div>
    <div>
      <label>{{'connection-settings_api_account_name_title' | translate}}</label>
      <p>{{getAccountName()}}</p>
    </div>
  </div>
  <div class="connection--settings-data-container" ng-if="!vm.loadInProgress">
    <div class="small-col">
      <label>{{'connection-settings_api_key_title' | translate}}</label>
      <span class="apiKeyContainer">
        <p>{{vm.apiKey}}</p>
        <button class="button button--extra-small" ng-click="vm.showCopy()">{{'connection-settings_copy_api_key' | translate}}</button>
      </span>
    </div>
  </div>
</section>
