<section class="section--wrapper connection--settings-container">
  <h2>{{'connection-settings_title' | translate}}</h2>
  <p>{{'connection-settings_subtitle' | translate}}</p>
  <div>
    <spinner class="spinner section--wrapper" ng-if="vm.loadInProgress"></spinner>
  </div>
  <div class="connection--settings-data-container" ng-if="!vm.loadInProgress">
    <div>
      <label>{{'connection-settings_host_smtp_title' | translate}}</label>
      <p>{{vm.hostSmtp}}</p>
    </div>
    <div class="small-col">
      <label>{{'connection-settings_port_smtp_title' | translate}}</label>
      <p>{{vm.portSmtp}}</p>
    </div>
    <div>
      <label>{{'connection-settings_user_smtp_title' | translate}}</label>
      <p>{{getLoggedUserEmail()}}</p>
    </div>
  </div>
  <div class="connection--settings-data-container" ng-if="!vm.loadInProgress">
    <div>
      <label>{{'connection-settings_api_url_title' | translate}}</label>
      <p>{{vm.apiUrl}}</p>
    </div>
    <div class="small-col">
      <label>{{'connection-settings_api_id_title' | translate}}</label>
      <p>{{getAccountId()}}</p>
    </div>
    <div>
      <label>{{'connection-settings_api_account_name_title' | translate}}</label>
      <p>{{getAccountName()}}</p>
    </div>
  </div>
  <div class="connection--settings-data-container" ng-if="!vm.loadInProgress">
    <div>
        <label>{{'connection-settings_api_key_title' | translate}}</label>
        <button class="button button--small" type="submit" ng-click="vm.requestApiKey()">{{'connection-settings_request_api_key' | translate}}</button>
       
    </div>
    <div ng-if="vm.apiKeySentSuccefully" class="api-key-request-result">
      <svg class="icon ok-icon">
        <use xlink:href="/images/sprite.svg#doppler-icon-ok-icon"></use>
      </svg>
      <span>{{ 'connection-settings_api_key_sent_succefully' | translate }}</span>
    </div>
    <div ng-if="vm.apiKeySentFailed" class="api-key-request-result">
      <svg class="icon alert-icon">
          <use xlink:href="/images/sprite.svg#doppler-icon-alert-icon"></use>
      </svg>
      <span>{{ 'connection-settings_api_key_sent_failed' | translate }}</span><a href="mailto:soporte@fromdoppler.com">{{ 'connection-settings_api_key_sent_failed_contact' | translate }}</a>
    </div>
  </div>
</section>
