<section class="section--wrapper connection--settings-container">
  <h2>{{'connection-settings_title' | translate}}</h2>
  <p>{{'connection-settings_subtitle' | translate}}</p>
  <div class="connection--settings-data-container">
    <div>
      <label>{{'connection-settings_host_smtp_title' | translate}}</label>
      <p>{{vm.hostSmtp}}</p>
    </div>
    <div class="small-col">
      <label>{{'connection-settings_port_smtp_title' | translate}}</label>
      <p>{{vm.portSmtp}}</p>
    </div>
    <div>
      <label>{{'connection-settings_user_smtp_title' | translate}}</label>
      <p>{{getLoggedUserEmail()}}</p>
    </div>
  </div>
  <div class="connection--settings-data-container">
    <div>
      <label>{{'connection-settings_api_url_title' | translate}}</label>
      <p>{{vm.apiUrl}}</p>
    </div>
    <div class="small-col">
      <label>{{'connection-settings_api_id_title' | translate}}</label>
      <p>{{getAccountId()}}</p>
    </div>
    <div>
      <label>{{'connection-settings_api_account_name_title' | translate}}</label>
      <p>{{getAccountName()}}</p>
    </div>
  </div>
</section>
