<section>
  <div class="item section--wrapper flex flex--between">
    <div class="item flex width--half flex--wrap">
    <h2 class="width--full">{{'domain-manager_title' | translate}}</h2>
    <p class="width--full">{{'domain-manager_subtitle' | translate}}</p>
    </div>
    <div class="item flex flex--content-end width--half">
      <button class="button button--large domain--input-toggler" ng-click="showDomainInput = true">{{'domain-manager_button' | translate}}</button>
    </div>
  </div>
  <form method="post" id="form" name="form" ng-submit="vm.addDomain(form)" novalidate>
  <div class="item domain--default-container section--wrapper">
    <div class="item flex domain--input-container width--full" ng-class="showDomainInput ? 'active' : ''">
        <label for="domain">{{'domain-manager_label_input' | translate}}</label>
        <div class="width--full">
          <input ng-pattern="vm.regexDomain" name="domain" ng-model="domain" class="input input--large"  validation-error required />
          <button class="button button--small" type="submit">+</button>
        </div>
    </div>
    <span class="input--error" ng-show="(showDomainInput || form.domain.$dirty) && form.domain.$invalid && !form.domain.$error.required"><i class="arrow--up"></i>{{'domain_not_allowed' | translate}}</span>
    <span class="input--error" ng-show="(vm.submitted || form.domain.$dirty) && form.domain.$invalid && form.domain.$error.required"><i class="arrow--up"></i>{{'validation_error_required' | translate}}</span>
    <h4>{{'domain-manager_default_title' | translate}}</h4>
    <p>{{vm.domainDefault}}</p>
  </div>
</form>
  <div class="item domain--list-container section--table section--wrapper">
    <h3>{{'domain-manager_list_title' | translate}}</h4>
    <div class="table--container">
      <table>
        <tr>
          <th class="column-large">{{ 'domain_manager_name_th' | translate}}</th>
          <th class="column-small">{{ 'domain_manager_status_th' | translate}}</th>
          <th class="column-small">{{ 'domain_manager_actions_th' | translate}}</th>
        </tr>
        <tr class="column-records" ng-repeat="d in vm.domains">
          <td>{{d.name}}</td>
          <td>{{d.status}}</td>
          <td><i>X</i> - <i>0</i> - <i>P</i></td>
        </tr>
      </table>
    </div>
  </div>
</section>
