<section>
  <div class="item section--wrapper flex flex--between domain--title-container">
    <div class="item flex width--half flex--wrap">
    <h2 class="width--full">{{'domain-manager_title' | translate}}</h2>
    <p class="width--full">{{'domain-manager_subtitle' | translate}}</p>
    </div>
    <div class="item flex flex--content-end width--half">
      <button class="button button--large domain--input-toggler" ng-click="vm.showNewDomainInput()">{{'domain-manager_button' | translate}}</button>
    </div>
  </div>
  <form method="post" id="form" name="form" ng-submit="vm.addDomain(form)" novalidate>
  <div class="item domain--default-container section--wrapper">
    <div class="item flex domain--input-container width--full" ng-class="vm.showDomainInput ? 'active' : ''">
      <div class="item flex flex--wrap">
        <label for="domain">{{'domain-manager_label_input' | translate}}</label>
        <input ng-pattern="vm.regexDomain" id="newDomainName" name="newDomainName" ng-model="vm.newDomainName" class="input input--large" focus-if="vm.showDomainInput" validation-error required />
        <div class="item flex flex--content-start button-container">
          <button class="button button--small" type="submit">{{'domain-manager_input_button' | translate}}</button>
        </div>
        <div class="error-container">
          <span class="input--error" ng-show="(vm.addSubmitted || form.newDomainName.$dirty) && form.newDomainName.$invalid && !form.newDomainName.$error.required"><i class="arrow--up"></i>{{'domain_not_allowed' | translate}}</span>
          <span class="input--error" ng-show="(vm.addSubmitted || form.newDomainName.$dirty) && form.newDomainName.$invalid && form.newDomainName.$error.required"><i class="arrow--up"></i>{{'validation_error_required' | translate}}</span>
        </div>
      </div>
    </div>

    <h5><strong>{{'domain-manager_default_title' | translate}}</strong></h5>
    <span class="default-domain">{{vm.defaultDomain}}</span><span> *</span>
    <p class="italic"><span>* </span>{{'domain-manager_default_subtitle' | translate}}</p>

  </div>
</form>
  <div class="item domain--list-container section--table section--wrapper">
    <h3><strong>{{'domain-manager_list_title' | translate}}</strong></h4>
    <div class="table--container">
      <table>
        <tr>
          <th class="column-medium">{{ 'domain_manager_name_th' | translate}}</th>
          <th class="column-tiny text--center">{{ 'domain_manager_dkim_spf_status_th' | translate}}</th>
          <th class="column-medium text--center">{{ 'domain_manager_status_th' | translate}}</th>
          <th class="column-small">{{ 'domain_manager_actions_th' | translate}}</th>
        </tr>
        <tr id="columnRecords" class="column-records" ng-repeat="d in vm.domains track by $index" ng-class="{'highlight--temporal-fade' : d.recentlyUpdated, 'disabled' : d.disabled, 'highlight--temporal-error' : d.highlightDkimError}">
          <td ng-class="vm.isDefaultDomain(d) && !d.disabled ? 'default' : ''">{{d.name}}</td>
          <td class="text--center">
            <svg class="icon ok-icon" ng-if="d.dkim_ready && d.spf_ready">
              <use xlink:href="/images/sprite.svg#doppler-icon-ok-icon"></use>
            </svg>
            <svg class="icon alert-icon" ng-if="d.dkim_ready && !d.spf_ready" tooltips tooltip-template="{{ 'domain_manager_status_warning_tooltip' | translate}}">
              <use xlink:href="/images/sprite.svg#doppler-icon-alert-iconorange"></use>
            </svg>
            <svg class="icon alert-icon" ng-if="!d.dkim_ready" tooltips tooltip-template="{{ 'domain_manager_status_error_tooltip' | translate}}">
              <use xlink:href="/images/sprite.svg#doppler-icon-alert-icon"></use>
            </svg>
          </td>
          <td class="text--center" ng-class="vm.isDefaultDomain(d) && !d.disabled ? 'default' : ''">
            <div class="dropdown--container">
              <ui-select ng-model="domainStatus" class="border-less" name="domainStatus" search-enabled="false" title="{{'select_choose_status' | translate}}" on-select="vm.changeStatus($model, d);" required>
                  <ui-select-match placeholder="{{ vm.getDomainStatus(d) | translate }}">
                      <span>{{ vm.getDomainStatus(d) | translate }}</span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in (vm.statusList) track by item.id" position="bottom" ui-disable-choice="vm.predefinedList(item.name, d)">
                      <span ng-bind-html="item.name"></span>
                  </ui-select-choices>
              </ui-select>
            </div>
          </td>
          <td>
            <svg class="domain--erase-button icon action-icon" ng-class="!vm.isDefaultDomain(d) || d.disabled ? 'default':'disabled'" ng-click="!vm.isDefaultDomain(d) && vm.deleteDomain(d)">
              <use xlink:href="/images/sprite.svg#doppler-icon-delete-icon"></use>
            </svg>
            <a class="domain--dkim-info-action" target="_blank" href="#/settings/dkim-configuration-help?lang={{vm.langSelected}}&d={{d.name}}">
              <svg class="icon action-icon default">
                <use xlink:href="/images/sprite.svg#doppler-icon-settings-icon"></use>
              </svg>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
