<section>
  <div class="item section--wrapper flex flex--between domain--title-container">
    <div class="item flex width--full flex--wrap">
    <h2 class="width--full">{{'domain-manager_title' | translate}}</h2>
    <p class="width--full">{{'domain-manager_subtitle' | translate}}</p>
    </div>
    <!--<div class="item flex flex--content-end width--half">
      <button class="button button--large domain--input-toggler" ng-click="vm.showNewDomainInput()">{{'domain-manager_button' | translate}}</button>
    </div>-->
  </div>
  <form method="post" id="form" name="form" ng-submit="vm.addDomain(form)" novalidate>
  <div class="item domain--default-container section--wrapper">
    <div class="item flex domain--input-container width--full" ng-class="vm.showDomainInput ? 'active' : ''">
      <label for="domain">{{'domain-manager_label_input' | translate}}</label>
      <div class="width--full">
        <input ng-pattern="vm.regexDomain" name="domain" ng-model="domain" class="input input--large"  validation-errors required />
        <button class="button button--small" type="submit">{{'domain-manager_input_button' | translate}}</button>
      </div>
    </div>
    <span class="input--error" ng-show="(showDomainInput || form.domain.$dirty) && form.domain.$invalid && !form.domain.$error.required"><i class="arrow--up"></i>{{'domain_not_allowed' | translate}}</span>
    <span class="input--error" ng-show="(vm.submitted || form.domain.$dirty) && form.domain.$invalid && form.domain.$error.required"><i class="arrow--up"></i>{{'validation_error_required' | translate}}</span>
    <h5><strong>{{'domain-manager_default_title' | translate}}</strong></h5>
    <span>{{vm.domainDefault}} *</span>
    <p class="italic"><span>* </span>{{'domain-manager_default_subtitle' | translate}}</p>

  </div>
</form>
  <div class="item domain--list-container section--table section--wrapper">
    <h3><strong>{{'domain-manager_list_title' | translate}}</strong></h4>
    <div class="table--container">
      <table>
        <tr>
          <th class="column-medium">{{ 'domain_manager_name_th' | translate}}</th>
          <th class="column-small">{{ 'domain_manager_status_th' | translate}}</th>
          <!--<th class="column-medium">{{ 'domain_manager_actions_th' | translate}}</th>-->
        </tr>
        <tr class="column-records" ng-repeat="d in vm.domains" ng-class="d.disabled ? 'grey' : ''">
          <td ng-class="vm.domainDefault == d.name ? 'default' : ''">{{d.name}}</td>
          <td ng-class="vm.domainDefault == d.name ? 'default' : ''">{{ d.status | translate }}</td>
          <!--<td><a>{{ 'erase_text' | translate}}</a><a ng-if="d.name != vm.domainDefault"> - {{ 'domain-manger_set_as_default' | translate}}</a></td>-->
        </tr>
      </table>
    </div>
  </div>
</section>
