<section class="my-plans--container">
  <div class="section--wrapper">
    <h2>
      {{ 'plans_text' | translate }}
    </h2>
    <p>{{ 'my_plan_subtitle' | translate }}</p>
  </div>
  <div class="section--wrapper my-plan--info-container">
    <div class="item flex flex--wrap first">
      <div class="flex one flex--wrap price">
        <label class="width--full special uppercase">{{ 'price_text' | translate }}</label>
        <p ng-show="vm.isFreeTrial" class="my-plan-price">{{'free_trial_text' | translate}}</p>
        <p ng-show="!vm.isFreeTrial">{{vm.currency | translate}} {{vm.currentPlanPrice | number:2}}</p>
        <spinner class="spinner" ng-class="vm.planInfoLoader ?  'show':'hide'"></spinner>
      </div>
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{ 'amount_of_emails_text' | translate }}</label>
        <p class="emails-amount">{{vm.currentPlanEmailsAmount | number}}</p>
        <spinner class="spinner" ng-class="vm.planInfoLoader ?  'show':'hide'"></spinner>
      </div>
      <div class="flex one flex--wrap email-price">
        <label class="width--full special uppercase">{{ 'my_plan_cost_email' | translate }}</label>
        <p ng-show="vm.isFreeTrial">-</p>
        <p ng-show="!vm.isFreeTrial">{{vm.currency | translate}} {{vm.currentPlanEmailPrice | number:8}}</p>
        <spinner class="spinner" ng-class="vm.planInfoLoader ?  'show':'hide'"></spinner>
      </div>
      <div class="flex one flex--wrap">
        <button ng-show="vm.isFreeTrial" class="button button--small" ng-class="vm.pricingChartDisplayed ? 'button--disabled' : 'active'" ng-click="vm.showPricingChart()">{{ 'change_plan_text' | translate }}</button>
      </div>
    </div>
    <div class="item flex flex--wrap">
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{ 'my_plan_consumption' | translate }}</label>
        <p class="month-consumption">{{vm.currentMonthlyCount | number}}</p>
        <spinner class="spinner" ng-class="vm.planStatusInfoLoader ?  'show':'hide'"></spinner>
      </div>
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{ 'my_plan_emails_sent' | translate }}</label>
        <p class="extra-emails">{{vm.extraEmailsSent | number}}</p>
        <spinner class="spinner" ng-class="vm.planStatusInfoLoader ?  'show':'hide'"></spinner>
      </div>
      <div class="flex two flex--wrap">
        <label class="width--full special uppercase">{{ 'my_plan_renewal_date' | translate }}</label>
        <p class="renewal-date">{{ vm.resetDate | amUtc | amDateFormat:'YYYY-MM-DD' }}</p>
        <spinner class="spinner" ng-class="vm.planStatusInfoLoader ?  'show':'hide'"></spinner>
      </div>
    </div>
  </div>
  <div class="section--wrapper pricing-chart--container" ng-class="vm.pricingChartDisplayed ? 'show': 'hide'">
    <h5 class="special uppercase">{{ 'my_plan_pricing_chart' | translate }}</h5>
    <p>{{'my_plan_pricing_chart_description' | translate }}</p>
    <div class="section--wrapper plan--slider-container">
      <p ng-bind-html="'my_plan_pricing_chart_slider_title' | translate:{emailsSuggestedAmount: vm.emailsSuggestedAmount}"></p>
      <rzslider rz-slider-model="vm.slider.value" rz-slider-options="vm.slider.options"></rzslider>
      <div class="plan--drag-container"><svg class="icon ok-icon" ng-class="vm.hideDragMe ? 'hide': 'show'">
        <use ng-if="vm.langUsed == 'en'" xlink:href="/images/sprite.svg#doppler-icon-drag-me"></use>
        <use ng-if="vm.langUsed == 'es'" xlink:href="/images/sprite.svg#doppler-icon-arrastra"></use>
      </svg></div>
    </div>
    <div class="section--wrapper plan--box-container">
      <ul class="width--half">
        <li class="special">{{vm.planName}}</li>
        <li>{{'cost_email' | translate}} &#36;{{vm.costEmail | number:5}}</li>
        <li>{{'attr_api' | translate}}</li>
        <li>{{'attr_dkim' | translate}}</li>
        <li>{{'attr_metrics_and_reports' | translate}}</li>
        <li>
          <p class="special plan--price-big">${{vm.planPrice | number:2 | numberFormat}}</p>
          <a class="button button--small button--green" href="#/settings/billing?plan={{vm.planName}}">{{'buy_now' | translate}}</a>
        </li>
      </ul>
    </div>
    <hr class="default"/>
  </div>
</section>
