<section class="my-plans--container">
  <div class="section--wrapper">
    <h2>
      {{ 'plans_text' | translate }}
    </h2>
    <p>{{ 'my_plan_subtitle' | translate }}</p>
    <label class="color--orange" ng-if="vm.isTrialEnded">{{ 'my_plan_free_trial_closed' | translate }}</label>
    <label class="color--orange" ng-if="vm.isAccountCanceled">{{ 'my_plan_account_closed' | translate }}</label>
  </div>
  <div class="section--wrapper my-plan--info-container">
    <div class="item flex flex--wrap first">
      <div class="flex one flex--wrap price">
        <label class="width--full special uppercase">{{ 'price_text' | translate }}</label>
        <p ng-show="vm.isFreeTrial" class="my-plan-price">{{'free_trial_text' | translate}}</p>
        <p ng-show="!vm.isFreeTrial">{{vm.currency | translate}} {{vm.currentPlanPrice | number:2}}</p>
        <spinner class="spinner" ng-class="vm.planInfoLoader ?  'show':'hide'"></spinner>
      </div>
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{ 'amount_of_emails_text' | translate }}</label>
        <p class="emails-amount">{{vm.currentPlanEmailsAmount | number}}</p>
        <spinner class="spinner" ng-class="vm.planInfoLoader ?  'show':'hide'"></spinner>
      </div>
      <div class="flex one flex--wrap email-price">
        <label class="width--full special uppercase">{{ 'my_plan_cost_email' | translate }}</label>
        <p ng-show="vm.isFreeTrial">-</p>
        <p ng-show="!vm.isFreeTrial">{{vm.currency | translate}} {{vm.currentPlanEmailPrice | number:5}}</p>
        <spinner class="spinner" ng-class="vm.planInfoLoader ?  'show':'hide'"></spinner>
      </div>
      <div class="flex one flex--wrap">
        <button ng-show="vm.hasScheduledPlan" class="button button--small" ng-class="vm.pricingChartDisplayed ? 'button--disabled' : 'active'" ng-click="vm.showPricingChart();" du-smooth-scroll="pricing-chart--container" offset="20">{{ 'change_plan_text' | translate }}</button>
      </div>
    </div>
    <div class="item flex flex--wrap">
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{ 'my_plan_consumption' | translate }}</label>
        <p class="month-consumption">{{vm.currentMonthlyCount | number}}</p>
        <spinner class="spinner" ng-class="vm.planStatusInfoLoader ?  'show':'hide'"></spinner>
      </div>
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{ 'my_plan_emails_sent' | translate }}</label>
        <p class="extra-emails">{{vm.extraEmailsSent | number}}</p>
        <spinner class="spinner" ng-class="vm.planStatusInfoLoader ?  'show':'hide'"></spinner>
      </div>
      <div class="flex two flex--wrap">
        <div ng-if="vm.trialEndDate">
          <label class="width--full special uppercase">{{ 'my_plan_free_trial_end_label' | translate }}</label>
          <p class="renewal-date">{{ vm.trialEndDate | date :'mediumDate' :'+0' }}</p>        
        </div>
        <div ng-if="vm.cancellationDate">
          <label class="width--full special uppercase">{{ 'my_plan_account_end_label' | translate }}</label>
          <p class="renewal-date">{{ vm.cancellationDate | date :'mediumDate' :'+0' }}</p>        
        </div>
        <div ng-if="!vm.trialEndDate && !vm.cancellationDate">
          <label class="width--full special uppercase">{{ 'my_plan_renewal_date' | translate }}</label>
          <p class="renewal-date">{{ vm.resetDate | date :'mediumDate' :'+0' }}</p>
        </div>
        <spinner class="spinner" ng-class="vm.planStatusInfoLoader ?  'show':'hide'"></spinner>
      </div>
    </div>
    <div class="item flex flex--wrap">
      <div class="flex one flex--wrap">
        <label class="width--full special uppercase">{{ 'attr_dedicated_ip_premium' | translate }}</label>
        <p ng-show="!vm.planStatusInfoLoader" class="ip-count">{{ vm.currentIpsPlanCount }}</p>
        <spinner class="spinner" ng-class="vm.planStatusInfoLoader ?  'show':'hide'"></spinner>
      </div>
      <div class="flex three flex--wrap" ng-if="!vm.hasScheduledPlan">
          <label class="width--full special uppercase">{{ 'my_plan_next_plan' | translate }}</label>
          <p class="extra-emails">{{vm.nextPlanIncludedDeliveries | number}} &#42;</p>
          <spinner class="spinner" ng-class="vm.planStatusInfoLoader ?  'show':'hide'"></spinner>
      </div>
    </div>
    <div class="flex flex--wrap scheduled--plan-message" ng-if="!vm.hasScheduledPlan">
        <p><i>&#42; {{ 'scheduled_plan_message' | translate }}</i></p>
    </div>
  </div>
  <div id="pricing-chart--container" class="section--wrapper pricing-chart--container" ng-class="vm.pricingChartDisplayed ? 'show': 'hide'">
    <h5 class="special uppercase">{{ 'my_plan_pricing_chart' | translate }}</h5>
    <p>{{'my_plan_pricing_chart_description' | translate }}</p>
    <div class="section--wrapper plan--slider-container">
      <p ng-bind-html="'my_plan_pricing_chart_slider_title' | translate:{emailsSuggestedAmount: vm.emailsSuggestedAmount}"></p>
      <rzslider rz-slider-model="vm.slider.value" rz-slider-options="vm.slider.options"></rzslider>
      <div class="plan--drag-container"><svg class="icon ok-icon" ng-class="vm.hideDragMe ? 'hide': 'show'">
        <use ng-if="vm.langUsed == 'en'" xlink:href="/images/sprite.svg#doppler-icon-drag-me"></use>
        <use ng-if="vm.langUsed == 'es'" xlink:href="/images/sprite.svg#doppler-icon-arrastra"></use>
      </svg></div>
    </div>
    <div class="section--wrapper plan--box-container">
      <ul ng-class="!vm.includesIp ? 'basic':'pro'">
        <li class="special">
          <span>{{ vm.PlanName | translate }}</span>
        </li>
        <li>{{'cost_email' | translate}} {{vm.currency | translate}} {{vm.CostEmail | number:5}}</li>
        <li>{{'attr_api' | translate}}</li>
        <li>{{'attr_dkim' | translate}}</li>
        <li>{{'attr_metrics_and_reports' | translate}}</li>
        <li class="strong">
          <span class="hidden-feature" ng-class="vm.includesIp ? 'show':''">{{'attr_dedicated_ip' | translate}}
            {{vm.ipsPlanCount}}</span>
        </li>
        <li>
          <span class="hidden-feature">
            <svg class="icon star-icon">
              <use xlink:href="/images/sprite.svg#doppler-icon-star-icon"></use>
            </svg>
          </span>
        </li>
        <li>
          <span class="hidden-feature">
            <svg class="icon star-icon">
              <use xlink:href="/images/sprite.svg#doppler-icon-star-icon"></use>
            </svg>
          </span>
        </li>
        <li class="strong">
          <h2 id="planPriceBig" class="special plan--price-big">{{vm.currency | translate}} {{vm.PlanPrice |
            number:2 | numberFormat}}</h2>
          <a ng-class="!vm.disablePlan  && vm.isValidUpgradeablePlan() ? 'show':''"
            class="hidden-feature-by-display button button--small"
            href="#/settings/billing?plan={{vm.PlanName}}">{{'change_plan' | translate}}</a>
          <a ng-class="vm.disablePlan && vm.isValidUpgradeablePlan()? 'show':''"
            class="button button--small button--disabled hidden-feature-by-display">{{'change_plan' | translate}}</a>
          <a ng-class="vm.isValidUpgradeablePlan() ? '':'show'"
            class="button button--small button--disabled hidden-feature-by-display">{{'change_plan' | translate}}</a>
        </li>
      </ul>
      <div>
        <span class="input--error" ng-show="vm.errorPlanUpgrade"><i class="arrow--up"></i>{{'my_plan_pricing_chart_button_validation' | translate}}</span>
        <span class="input--error" ng-show="vm.errorPlanUpgrade"><i class="arrow--up"></i>{{'my_plan_pricing_chart_button_validation' | translate}}</span>
        <span class="input--error" ng-show="vm.errorPlanUpgrade"><i class="arrow--up"></i>{{'my_plan_pricing_chart_button_validation' | translate}}</span>
      </div>
      <div ng-show="!vm.isValidUpgradeablePlan() && !vm.hasCancellationDate" class="arrow--box-up">
        <h5>{{'validation_requirements_title' | translate:{companyName:companyName} }}</h5>
        <ol>
          <li ng-show="vm.requiresDomainConfiguration()" class="step not-ready">
              <span>{{'validation_step_one' | translate}} <a class="arrow--box-link" href="{{'validation_step_one_href' | translate}}">{{'validation_step_one_link' | translate}}</a></span>
          </li>
          <li ng-show="!vm.requiresDomainConfiguration()" class="step ready number--success">
            <span class="success">{{'validation_step_one_ready' | translate}}</span><span class="overlay"> {{'validation_step_one_pending' | translate}}</span>
          </li>
          <li ng-show="vm.requiresDeliveries()" class="step not-ready">
            <span>{{'validation_step_two' | translate}} <a class="arrow--box-link" href="{{'validation_step_two_href' | translate}}">{{'validation_step_two_link' | translate}}</a></span>
          </li>
        </ol>
      </div>
      <div ng-show="vm.hasCancellationDate" class="arrow--box-up">
        <h5>{{'validation_canceled_account' | translate:{companyName:companyName} }}</h5>
      </div>
    </div>
    <hr class="default"/>
  </div>
</section>