// *************************************
//
//   Forms
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------


// -------------------------------------
//   Base
// -------------------------------------
c3chart{display: block}
.c3-xgrid, .c3-ygrid{
  stroke-dasharray: 0 !important;
}
.c3-grid line {
    stroke: #eee !important;
}
.c3 .c3-axis-x path, .c3 .c3-axis-x line {
    stroke: #888 !important;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
    stroke: #888 !important;
}
.c3 text {
  fill: #888 !important;
}
.c3 svg {
    font: 400 10px "Proxima-Nova", sans-serif !important;
}
@media screen and (max-width: 1024px) {
  .c3{
    text {
      tspan {font-size: 0.5rem !important;}
    }
  }
}
@media screen and (max-width: 750px) {
  .c3{
    text {
      tspan {font-size: 0.3rem !important;}
    }
  }
}
