.modal--wrapper .copy--container {
    width: 60%;
}
.copy--container .input--container{
    padding-bottom: 2em;
}
.copy--container .input--container input[type=text]{
    width: 100%;
    border: 0;
}