// *************************************
//
//   Forms
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------
$suit-font-color:           #7F7972;
$suit-font-black:           #303030;
// -------------------------------------
//   Base
// -------------------------------------
//workarround for issue in the selectize lib.
.selectize-input{
  height: 50px;
  line-height: 30px !important;
  padding: 0.875em !important;
}
.selectize-dropdown{
  border-top: 1px solid #d0d0d0 !important;
  .active{
    color: $suit-font-black !important;
  }
}

*:focus{
  outline: none;
}
.filter--section {
  padding: torem(40px) 0 0 0;
  background-color: $suit-background-bright;
}
.section--wrapper{
  &.filter{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    label{margin-right: toem(10px)}
    svg{position: absolute;right:toem(15px);top:toem(20px);height: toem(8px);width: toem(10px);}
  }
}
.relay-dropdown{
  display: inline-block;
  color:$suit-font-color;
  font-size: 1em;
  div{border: $suit-border-default;@include border-radius(3px);position: relative;}
  div.expanded{border-bottom: $suit-border-default;@include border-bottom-radius(0);
      ul{opacity: 1;visibility:visible;overflow: visible;}
  }
  input{cursor: pointer; padding: torem(15px) toem(55px) torem(15px) toem(15px); line-height: 0;margin:0;min-width:17em;position: relative;z-index: 99;background: inherit;height: auto;}
}
