// *************************************
//
//   Header
//
// *************************************



header{
  p{font-size: $font-size-small;display: inline;}
  h4{cursor:pointer;}
  h4{font-size: $headers_h5-font-size;}
  .section--wrapper{padding: toem(40px) 0;display: flex; justify-content: center;align-items: center;
    a{align-items: center; cursor: pointer;}
    nav{background:none; display: flex;}
    nav:last-of-type{justify-content: flex-end;
        a { margin-left: toem(20px);}
        a:last-of-type{margin-left: toem(20px); font-size: $font-size-small}
        a:first-of-type{margin-left: toem(12px)}
        p{color: $suit-font-color-light;}
      }
  }
  .login{
    background-color: $suit-background-default;
    .section--wrapper { padding: 2.5em 0 0 0; }
  }
  .logged{
    background-color: $suit-background-dark;
    .section--wrapper{padding: toem(25px) 0}
    .header--log-out{cursor: pointer;}
    nav{align-items: center;}
    a{color:$suit-accent-color; font-size: $headers_h5-font-size; margin-right: toem(15px);}
    a:last-of-type{margin-right:0;}
    h4{color:#FCF8F1; text-transform: uppercase;letter-spacing: 0.1px;}
    p{color: $suit-background-bright !important; cursor: default;}
    .links {
      border-bottom: 3px solid $suit-main-color;
      &:hover:not(.active) {
        opacity: 0.5;
      }
      &.active{
        transition: border-color .3s ease;
        border-bottom: 3px solid $suit-accent-color;
      }
    }
  }
  .icon--config-menu{
    display: inline-block;
    margin-left: .5rem;
    margin-bottom: 1px;
  }
  .shapped--arrow-up{
    border-bottom-color: $suit-accent-color !important;
  }
  .shapped--arrow-down{
    border-top-color: $suit-accent-color !important;
  }
  .header--config-menu{
    opacity: 0;
    right: 0;
    visibility: hidden;
    position: absolute;
    top: 5rem;
    background: $suit-background-bright;
    padding: 0.7rem;
    z-index: 9999;
    width: 320px;
    box-shadow: 0 1px 10px $suit-main-color;
    @extend .transition--default;
    &.show{
      visibility: visible;
      opacity: 1;
    }
    p{
      color: $suit-main-color !important;
    }
    .first-container{
      border-bottom: 1px solid $suit-font-color-lighter;
      display: flex;
      justify-content: space-between;
      div:last-of-type{padding-top: 0.8em; width: 68%;}
      p,a{display: inline-block;width: 100%;}
      a{cursor: pointer; text-transform: uppercase;font-size: $font-size-tiny !important;}
      p{font-weight: 600; }
      a:last-of-type{ margin-left: 0 !important;}
      .header--config-avatar{
        position: relative;
        display: inline-block;
        width: 4em;
        height: 4em;
        background: $suit-accent-color;
        border-radius: 3px;
        margin-bottom: 1.5em;
        span{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          color: $suit-background-default;
          text-transform: uppercase;
          max-width: 70%;
          overflow: hidden;
        }
      }
    }
    .second-container{
      a{
        transition: color .3s ease;
      }
      a, span {
        margin: 0 !important;
        color: inherit;
        cursor: pointer;
      }
      ul{
        list-style-type: none;
        color: $suit-font-color-lighter;
        li{
          display: inline-block;
          font-size: $font-size-small;
          width: 100%;
          margin-left: 0.5em;
          cursor: default;
        }
        a:hover,span:hover{
          color:$suit-accent-color;
        }
        li:first-of-type{
          margin: 20px 0 0 0.5em;
        }
        li{
          margin: 20px 0 0 0.5em;
        }
      }
    }

  }
  .sub-menu{
    height: 0;
    padding: 0 !important;
    overflow: hidden;
    &.show{
      height: 1.7rem;
    }
    &.section--wrapper{
      nav {
        justify-content:flex-start;
        margin-left: torem(55px);
        hr {
          border-top: 3px solid $suit-main-color;
          transition: border-color .3s ease;
          margin: 0;
        }
        a:hover:not(.active) {
          opacity: 0.5;
        }
        a.active{
          hr {
            border-top: 3px solid $suit-accent-color;
          }
        }
        h4{text-transform: none;}
      }
    }
  }
  p.header--config-menu-trigger{
      cursor: pointer !important;
  }
  a.upgrade--link{
    font-size: $font-size-tiny !important;
    margin-right: 2em !important;
    text-transform: uppercase;
  }
  .free-trial{
    padding: torem(9px);
    background: $suit-accent-color;
    color: $suit-font-color-bright;
    a { 
      margin-left: torem(15px);
    }
  }
  .right--container {
    .flag {
      cursor: pointer;
      margin: 0;
    }
  }  
}

@media screen and (max-height: 750px){
    header{
      .section--wrapper{
        a:first-child{margin-left: toem(4px)}
        div{
          a:first-of-type{margin-left: 1.2em;margin-right: 0.52em;}
        }
        svg { max-width: toem(150px) !important; }
      }

      .header--flags{ p{display: none;} a{cursor:pointer;} }
    }
}

@media screen and (max-width: 780px){
  header{
    .right--container {
      .flag { display: none;}
    }
  }
}
@media screen and (max-width: 750px){
  header{
    .sub-menu.section--wrapper{
      h4{font-size: 0.775rem;}
    }
    .section--wrapper{
      h4{font-size: 0.875rem;}
      a.upgrade--link{display: none;}
      .header--config-menu-trigger{
        span:first-of-type{ display:none; }
      }
      .second-container { a,span {font-size: .675rem !important;}}
    }
  }
}
@media screen and (max-width: 414px){
  header{
    .section--wrapper{
      h4{font-size: 0.675rem;}
      nav:last-of-type{
        .right-container{display: flex;align-items: center;}
        }
    }
  }
}
@media screen and (max-width: 325px){
  header{
    .header--config-menu{
      width: 100%;
    }
  }
}


// -------------------------------------
//   Base
// -------------------------------------
