// *************************************
//
//   Account Settings
//
// *************************************

.connection--settings-container {
  h2 {
    margin-bottom: 1rem;
  }
  div.connection--settings-data-container:first-of-type {
    border-top: 1px solid $suit-font-color-border-grey;
    margin-top: 3rem;
  }
  div.connection--settings-data-container {
    display: flex;
    border-bottom: 1px solid $suit-font-color-border-grey;
    padding: 1.2rem 0;
    div.small-col{
      width: 25%;
      span {
        display: block;
        p {
          display: inline-block;
        }
      }
      span.api-key--container p {
        padding-right: toem(25px);
      }
    }
    div {
      display: inline-block;
      width: 35%;
      label{ text-transform: uppercase;font-weight: 600;}
      p {word-wrap: break-word;}
    }
  }
  .spinner{
    fill:#E78224; padding:torem(15px);background-color:initial;height:torem(59px);width:torem(59px);border-radius:0 5px 5px 0;left: 50%;top:100%;transform: translate(-50%,-50%);position: absolute;
    .sk-fading-circle {
      .sk-circle:before{ background-color: $suit-main-color; }
    }
}
}
.domain--title-container{
  h2 {
    margin-bottom: 1rem;
  }
}
.domain--default-container {
  margin-top: 4rem;
  border-top: $suit-border-default;
  border-bottom: $suit-border-default;
  padding-bottom: 2.5rem;
  h5 {
    display: inline-block;
    margin-right: .2rem;
    margin-top: 1.5em;
  }
  span {
    color: $suit-accent-color-light;
    font-size: 1rem;
  }
  p:last-of-type {
    color:$suit-font-color-lighter;
    font-size: 0.875rem;
  }
}
.domain--list-container {
  margin-top: 4rem;
  .table--container {
    overflow: visible;
    padding-bottom: torem(20px);
    table {
      border-bottom: 1px solid #D5D2CF;
    }
  }
  h3 {
    margin-bottom:1rem;
  }
  .column-records {
    transition: all .3s ease-in;
    td:first-of-type {
      color: $suit-accent-color-light;
    }
    td:first-of-type {
      color: $suit-accent-color-light;
    }
    td.default {
      font-weight: bold;
    }
    td {
      overflow: visible;
      .action-icon {
        cursor: pointer;
        margin-right: 1em;
        &.default{
          fill: $suit-accent-color-light;
        }
        &.disabled{
          fill: $suit-main-color;
          opacity: .3;
          cursor: auto;
        }
      }  
      .dropdown--container{
        display: inline-block;
        width: 12em;
      }    
    }
    &.disabled td:first-of-type{
      opacity: 0.5;
    }
  }
}
.domain--input-container {
  flex-wrap: wrap;
  height: 0;
  overflow: hidden;
  align-items: flex-start;
  margin-bottom: 2rem;
  div.flex--wrap:first-of-type{
    width: 100%;
  }
  div.button-container{
    margin-left: 2rem;
  }
  label{
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
  }
  @extend .transition--default;
}
.domain--input-container {
  &.active {
    margin-bottom: 0;
    margin-top: 2rem;
    height: 140px;
    .error-container{
      width: 100%;
    }
    button {
      font-size: 2rem;
    }
  }
}

.dkmin-config--container {
  p.dkim--subtitle{
    margin-top: 1.5em;
  }
  .domain-selected{
    color: $suit-accent-color;
  }
  .dkmin-config-code {
    p:last-of-type{max-width: 50%;}
    code {
      max-width: 50%;
      word-wrap: break-word;
    }
  }
}

.domain--config-status{
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  span:last-of-type{
  margin-left: 0.5em;
  }
}
.my-profile--container {
  input {
    display: inline-block !important;
    margin-top: 1em;
  }
  .subtitle {
    margin-bottom: 1em;
  }
  .item {
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: $suit-border-default;
  }
  .item:last-of-type {
    padding-bottom: 2.5em;
    border-bottom: $suit-border-default;
  }
  .password.item{
    overflow: hidden;
    input{align-items: flex-end;}
    transition: height 0.3s ease;
    &.show {
      height: toem(355px);
      border-bottom: none;
    }
    &.hidden {
      height: toem(50px);
    }
    .icon-container{
      opacity: 1;
      position: absolute;
      @extend .transition--default;
      span{
        cursor: pointer;
        margin-right: 12em;
      }
      .success {
        display: inline-block;
        background: $suit-color-status-green;
        padding: 0.7em;
        margin-left: 1em;
        position: relative;
        bottom: toem(8px);
        border-radius: 5px;
        font-weight: bold;
      }
      .icon{
        cursor: pointer;
        position: relative;
        bottom: 5px;
      }
      &.hidden{
          opacity: 0;
      }
    }
  }
  .email--container{
    span{
      display: inline-block;
      max-width: 15em;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: default;
    }
  }
  .inputs--container{
    height: 0;
    overflow: hidden;
    position: absolute;
    @extend .transition--default;
    .confirm-icons--container{
        padding: 0.7em;
        position: relative;
        top: toem(18px);
        .cross{
          margin-left: 1.2em;
          cursor: pointer;
        }
        .tick-icon{
          cursor: pointer;
        }
    }
    div.input--wrapper {
      display: flex;
      max-width: 50%;
      flex-wrap: wrap;
      .error--container{
        width: 100%;
      }
    }
    div.input--wrapper:first-of-type{
      input{ margin-top: 0;}
    }
    div.input--wrapper:last-of-type {
      max-width: 100%;
    }
    &.show{
      height: toem(355px);
    }
    &.hidden{
      height: 0px;
    }
  }
}

.my-plans--container {
  .my-plan--info-container {
    .item {
      border-bottom: $suit-border-default;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      padding-right: 2rem;
      &:first-of-type {
        margin-top: 4rem;
        padding-top: 1rem;
        border-top: $suit-border-default;
        div:last-of-type { justify-content: flex-end;}
      }
      &:last-of-type { margin-bottom: 4rem; }
    }
    .spinner{
      opacity: 1;
      @extend .transition--default;
      .sk-fading-circle {
        width: 1rem;
        height: 1.5rem;
        .sk-circle:before{ background-color: $suit-main-color; }
      }
      &.hide{
        opacity: 0;
      }
    }
  }
  .plan--box-container{
    padding-top: 2em;
    ul {
      padding: 0; 
      margin: auto; 
      display: inline-block;
      @extend .transition--default;
      width: 47.4%;
      .special{
        @extend .transition--default;
      }
      &.hide {
        display: none;
      }
      &.basic {
        li.special {
          border-color: $suit-color-status-violet;
          background-color: $suit-color-status-violet;
        }
        li:last-of-type {
          a { background-color: $suit-color-status-violet; }
          //padding-top: 2.75em;
        }
      }
      &.pro {
        li.special {
          border-color: $suit-color-status-green;
          background-color: $suit-color-status-green;
        }
        li:last-of-type {
          a { background-color: $suit-color-status-green; }
        }
      }
      &.premium {
        li.special {
          border-color: $suit-accent-color;
          background-color: $suit-accent-color;
        }
         li:last-of-type {
          a { background-color: $suit-accent-color; }
        }
      }
    }
    ul:first-of-type { margin-right: 4%;}
    li.special {
      color: $suit-background-default;
      width: 100%;
      padding: 1em;
    }
    li:last-of-type {
      border-bottom: $suit-border-default;
      text-align: center;
      color: initial;
      padding: 0.5em 0 1em 0;
      h2 { margin-bottom: 0.3em; }
    }
    li {
      list-style-type: none;
      border-left: $suit-border-default;
      border-right: $suit-border-default;
      padding:  0.5em 1em;
      color:$suit-font-color-light;
      .hidden-feature { 
        opacity: 0;
        @extend .transition--default;
        &.show{opacity: 1;}
      }
      .star-icon{
        width: torem(12px);
        fill: $suit-accent-color;
      }
    }
  }
  .pricing-chart--container{
    max-height: 0;
    overflow: hidden;
    @extend .transition--default;
    &.show{max-height: 73rem;}
    .plan--slider-container {
      margin-top: 2em;
      span.special {
        font-size: $headers_h3-font-size;
        color: $suit-accent-color;
      }
      div.plan--drag-container{
        text-align: center;
        .ok-icon {
          @extend .transition--default;
          opacity: 1;
          height: 2.6875rem;
          width: 5.6875rem;
          &.hide{
            opacity: 0;
          }
        }
      }
    }
  }
}

.billing--container,.credit-card--container,.billing--plan-confirmation{
  div.item{
    border-bottom: $suit-border-default;
    margin: 1em 0;
    padding-bottom: 1em;
    align-items: flex-start;
    .flex--content-end{margin-right: 1em;}
    label { margin-top: 0.8rem;}
    .animate-error-container{
      height: 0;
      transition: height .3s ease;
      position: relative;
      overflow: hidden;
      &.show{
        height: torem(48px);
      }
      span { position: absolute;}
    }
  }
}
.billing--plan-confirmation{
  max-height: 0;
  transition: .8s max-height 700ms;
  overflow: hidden;
  &.show {
    max-height: 40rem;
  }
  .one{
    flex-grow: 1;
    max-width: 18%;
    margin-right: 2%;
    p{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    p.hide{
      max-width: 80%;
    }
  }
  .one:last-of-type{
    margin-right: 0;
  }
}
.billing--container {
  .city--container{
    position: relative;
    .error{margin-bottom: torem(40px);}
    span.input--error{position: absolute; top:torem(60px);}
    .zip--container{
      position: relative;
      margin-left: 3em;
      span.input--error{position: absolute; top:torem(60px);}
      label{margin-right: 1em;}
      span.input--error{left: torem(85px);}
      .label{ min-width: 9.40rem;}
    }
  }

}
.billing-page--container {
  .button--white{
      margin-right: 2%;
  }
  .billing--first-container{
    max-height: 100rem;
    transition: max-height .8s ease;
    overflow: hidden;
  }
  .billing--first-container.hide{
    max-height: 0;
  }
  .billing--plan-name-container{
    div:first-of-type{margin-right: 15%;}
    div{display: inline-block;}
  }
  .button--container{
    display: flex;
    justify-content: flex-end;
    .detached--error-container{ margin-right: 1em; align-items: center;}
  }
  .selectize-input{
    min-width: torem(350px);
  }
}

.credit-card--container {
  .cards-icons--container {
    min-height: torem(50px);
  }
  .credit-card {
    &.visa {
      svg.icon-visa {
        -webkit-filter: none; 
        filter: none;
      }
    }
    &.mastercard {
      svg.icon-master {
        -webkit-filter: none; 
        filter: none;
      }
    }
    &.amex {
      svg.icon-amex {
        -webkit-filter: none; 
        filter: none;
      }
    }
    svg.icon {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      margin-left: 1.5em;
    }
  }
}

/******* Media-Queries *****/

@media screen and (max-width: 1450px) {
  .domain--list-container{
     .column-records td {
       padding: 1rem 0 1rem 1%;
     }
     .dropdown--container{
        width: 13em !important;
     }
     .table--container {
       overflow: auto;
       padding-bottom: torem(80px);
     }
   }
}

@media screen and (max-width: 768px) {
  .item {
    @include stack();
    margin-bottom: 1rem;
  }
    button, input {
      width: 100%;
    }
  .domain--input-container {
    &.active {
      height: 198px;
      margin-bottom: 1rem;
      .error-container{
        position: absolute;
        top: 7.3rem;
      }
      button {
        margin: 3rem 0 0 0;
      }
      .button-container {
        margin-left: 0;
        margin-bottom: 0;
      }
    }
  }
  .connection--settings-data-container {
    label { font-size: 0.775rem;}
    div:first-of-type { width: 45% !important; }
    div:last-of-type { width: 25% !important; }
  }
  .my-profile--container {
    .icon-container svg{
      display: none;
    }
    .inputs--container {
      div.input--wrapper{
        max-width: 100%;
      }
      div.input--wrapper:last-of-type{
        flex-direction: row-reverse;
      }
      .error--container{
        position: relative;
        top: toem(-55px);
      }
    }
    .inputs--container .confirm-icons--container{
      position: relative;
      top: 0;
      z-index: 1;
    }
    .password.item.show{
      height: toem(400px);
    }
  }

  .my-plans--container{
    .my-plan--info-container{
      .item {
        div {          
          margin-top: 1em;
          .hide{display: none;}
        }
        div:first-of-type { margin-top: 0; }
      }
       .item:first-of-type {
         div:last-of-type {
           position: absolute;
           bottom: 0;
           width: 100%;
         }
       }
    }
    .plan--box-container{
      ul{
        width: 100%;
        margin-bottom: 2em;
        &:first-of-type{margin-right: 0;}
        li:last-of-type{
          padding: 1em;
          button{
            margin-top: 1.5em;
          }
        }
      }
    }
  }
  .pricing-chart--container {
    margin-top: 1.5em;
    padding-top: 2em;
    border-top: $suit-border-default;
  }

  .credit-card--container {
    .credit-card {
      svg {
        margin-top: torem(4px);
      }
      svg:first-of-type {
        margin-left: torem(5px);
      }
      .width--full {
        margin-top: -1.6em;
      }
    }
  }
  .billing--plan-confirmation{
    &.show{
      max-height: 65rem;
    }
    hr{ display: none;}
      padding-top: 1em;
      border-top: 1px solid #D5D2CF;
    .first{
      border-bottom: none !important;
      padding-bottom: 0 !important;
    }
    .one{
      flex-grow: 1;
      min-width: 20%;
      max-width: 100%;
      margin-bottom: 1em
    }
  }
  .billing-page--container{
    .button--white{
        margin-right: 0;
        margin-bottom: 5%;
    }
    .billing--first-container{
      margin-bottom: 1rem;
      max-height: 132rem;
    }
    .button--container{
      .detached--error-container{ margin-right: 0; margin-bottom: 1em;}
    }
  }
  .billing--container{
    .city--container{
      display: inline;
      .zip--container{
        flex-wrap: wrap;
        margin-left: 1em;
        margin-left: 0;
        max-width: 40%;
        margin-top: 1em;
        input{ width: 100%;}
        span.input--error{top:6rem;left: torem(5px);width: torem(190px);}
      }
    }
  }

}
