// *************************************
//
//   Templates
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

.templates--grid{
  background: #F5F1F1;
}

.templates--waiting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  .spinner {
    .sk-fading-circle .sk-circle::before {
      background-color: $suit-accent-color;
    }
    &.padded{
    padding:  torem(70px) 0;
    }
  }
}

.templates--empty{
  text-align: center;
  p{max-width: 38%;text-align: center; margin: 0 auto;}
  h2,p{margin-bottom: torem(20px); margin-top: torem(20px)}
    .icon.main-image{
      margin: 0 auto;
      width: 100%;
      max-width: 283px;
      height: auto;
    }
}
.templates--information{
  background-color: $suit-background-bright;
  .information-fields{ width:47%; padding:torem(10px) 0 0 0;  margin-top: 3%; display: inline-block;
   &:first-of-type{ margin-right: 3%;}
   &:last-of-type{ margin-left: 3%;}
  }
  h4{margin:torem(30px) 0 0 0;}
}
.templates--custom{
  background-color: inherit;
  .flex:first-of-type{margin:torem(30px) 0 0 0; .flex{align-items: center;}}
  label{margin-right: torem(20px);}
  input.input{width: calc(100% - 695px);}
  .content--templates{
      display: inline-block;
      & + input{
          vertical-align: text-bottom;
          float: right;
      }
  }
  ul{
    display: inline-block;
    padding: 0;
    width: 100%;
    margin:torem(30px) 0 0 0;
  }
  li{
      list-style-type: none;
      background-color: $suit-background-bright;
      margin-bottom: 3%;
      border-radius: 3px;
      padding: 0;
      padding-bottom: toem(12px);
      box-shadow: 0 1px 2px rgba(43,59,93,.29);
      @extend .transition--default;
    &.lines{
      margin-bottom: 2%;
      padding: toem(10px);
      div.content--box{
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
      }
      div.hidden--overlay,div.img--container{
        display: none;
      }
    }
    &.squares.ng-hide{opacity:0;}
    &.squares{
      @include col(1/3, $cycle:3);
      padding: 0 !important;
      transition:all linear 0.5s;
      img{height: 180px; width: 100%;visibility: hidden;}
      div.content--box{
        border-top: $suit-border-default;
        padding: toem(16px);
        text-align: center;
        p:last-of-type,h4{text-transform: uppercase;font-weight: bold;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
        p:first-of-type{color:$suit-font-color-light;margin: toem(2px) 0 toem(5px) 0;}
        p:last-of-type{
          font-size: $font-size-tiny;
          &.green{
            color:$suit-color-status-green;
          }
          &.draft{
            color:$suit-color-status-draft;
          }
        }
        }
        div:first-of-type{
          position: relative;
        }
        div.hidden--overlay{
          position: absolute;
          background: $suit-color-overlay;
          opacity: 0;
          top: 0;
          width: 100%;
          padding-bottom:toem(20px);
          height: 185px;//to be removed
          @extend  .transition--default;
          div.icons--container{
            display: flex;
            justify-content: space-between;
            div:first-of-type{.icon:first-child{margin-right: toem(10px)}}
            last-of-type{
                display: flex;
                justify-content: center;
                align-items: center;
              }
          }
          .buttons--container {
              margin: 15px auto 0;
              text-align: center;
              .delete--confirmation--container p{
                  color:#fff;
                  margin-bottom:toem(20px);
              }
              .delete--confirmation--container{
                    margin-top:59px;
                    input.button{
                        min-width: 125px;
            	        padding: toem(9px);
                    }
                    input.button:last-child{
                        border: none;
                    }
                    input.button:last-child:hover{
                        background: transparent;
                    }

               }
          }
        }
    }
    &.squares:hover{box-shadow: 0 1px 2px rgba(43,59,93,.29),0 0 13px rgba(43,59,93,.29);div.hidden--overlay{opacity: 0.8;}}
  }
}

.templates--edition{
  background-color: $suit-background-default;
  .flex{align-items: center;}
  h2{margin: 0 0 torem(20px) 0;}

  textarea.input {
    background-color: #fff;
    min-height: torem(450px);
    outline:none;
    resize: none;
  }

  div.section--wrapper:last-of-type{
    input:last-of-type{
      margin-left: toem(10px);
      margin-top: torem(40px);
    }
}

  .templates--icons-preview{
    display: flex;
    align-items: center;
    label{margin-right: torem(20px);}
    div{padding: torem(10px) torem(20px);border: $suit-border-default;background: $suit-background-bright;cursor: pointer;}
    div:last-of-type{border-left: none;border-radius: 0 3px 3px 0;}
    div:first-of-type{border-radius: 3px 0 0 3px;}
  }
  &.padded{
    padding: torem(70px) 0;
  }

  .templates-selector--container {
    grid-template-columns: 47% 47%;
    grid-gap: 4%;
    .templates-mseditor--container {
      label {
        display: inline-block;
        margin-top: 2em;
        margin-bottom: .35em;
      }
      .button-mseditor--selector {
        display: block;
        padding: 20px 0;
        background-color: #fff;   
        border: 1px solid $suit-accent-color;
        border-radius: 3px;
      }
      &.disabled {
        opacity: .5;
        pointer-events: none;
        .button-mseditor--selector {
          p {
            font-size: $font-size-small;
          }
        }
      }
    }
  }
}

.squares{
     .icon{
    &.m-glass{background-color: transparent;position:relative;margin-left:0;}
    }
}
@media screen and (max-width: 768px) {
  .templates--information{
    .information-fields{
      width: 100%;
      &:first-of-type { margin-right: 0;}
      &:last-of-type { margin-left: 0;}
    }
  }
  .templates--custom {
    li { width: 100% !important; }
    .button--large{ width: 100%; margin-top: 1rem;}
    .buttons--container {
      .button--medium { min-width: 80%; width: 80%;}
    }
  }
  .templates--edition {
    .button--medium{
      margin-left: 0 !important;
    }
  }
}
