<section class="dkmin-config--container">
    <breadcrumb></breadcrumb>
    <div class="item section--wrapper flex">
        <h2>
        {{ 'domain_configuration_title' | translate }}: <span id="domain">{{ vm.domain }}</span>
        </h2>
    </div>
    <div class="item section--wrapper">
        <p class="dkim--subtitle">{{ 'dkim_configuration_help_domain_title' | translate }} 
        <a class="domain-selected dkim--subtitle" target="_blank" href="https://help.dopplerrelay.com/{{ 'dkim_config_help_href' | translate }}">{{ 'dkim_configuration_help_domain_title_link' | translate }}</a>
    </p> 
        <hr class="default" />
    </div>
    <div class="item section--wrapper flex">
        <h3 class="special">{{ 'dkim_configuration' | translate }}</h3>
    </div>
    <div class="item section--wrapper dkmin-config-code">
        <p class="dkim--subtitle" white-brand-toggler-text> {{ 'dkim_configuration_help_subtitle' | translate:{companyName:companyName} }}</p>
        <hr class="small" />
        <h5>{{ 'dkim_configuration_help_selector_title' | translate }}</h5>
        <p class="domain-selector">{{ vm.dKimSelector }}</p>
        <h5>{{ 'dkim_configuration_help_public_k_title' | translate }}</h5>
        <p><code class="domain-public-key">{{ vm.dKimPublicKey }}</code></p>
        <hr class="small" />  
        <label><strong>{{ 'configuration_page_status' | translate }}</strong></label>
        <div class="domain--config-status" ng-if="!vm.loading && vm.dKimStatus">
        <svg class="icon ok-icon">
            <use xlink:href="/images/sprite.svg#doppler-icon-ok-icon"></use>
        </svg>
        <span>{{ 'configuration_page_added' | translate }}</span>
        </div>
        <div class="domain--config-status" ng-if="!vm.loading && !vm.dKimStatus">
        <svg class="icon alert-icon">
            <use xlink:href="/images/sprite.svg#doppler-icon-alert-icon"></use>
        </svg>
        <span>{{ 'domain_manager_status_error_tooltip' | translate }}</span>
        </div>
        <label class="comment"><span>&#42;</span>{{'domain_manager_remember_hours_update' | translate }}</label>
        <hr class="default" />
    </div>

    <div class="item section--wrapper flex">
        <h3 class="special">{{ 'domain_manager_tracking_domain_status_th' | translate }}</h3>
    </div>
    <div class="item section--wrapper dkmin-config-code">
        <p class="dkim--subtitle">{{ 'tracking_domain_description' | translate }}
            <a class="domain-selected dkim--subtitle" target="_blank" href="https://help.dopplerrelay.com/{{ 'tracking_config_help_href' | translate }}">{{ 'tracking_domain_description_link' | translate }}</a>
        </p>
        <hr class="small" />
        <h5>{{'domain_name_text' | translate }}:</h5>
        <p><code class="domain-tracking">{{ vm.trackingDomain }}</code></p>
        <h5>{{'tracking_domain_name_text' | translate }}:</h5>
        <p><code class="domain-cname">{{ vm.canoncalTrackingDomain }}</code></p>
        <hr class="small" />  
        <label><strong>{{ 'configuration_page_status' | translate }}</strong></label>
        <div class="domain--config-status" ng-if="!vm.loading && vm.trackingDomainStatus">
            <svg id="okIconTracking" class="icon ok-icon">
                <use xlink:href="/images/sprite.svg#doppler-icon-ok-icon"></use>
            </svg>
            <span>{{ 'configuration_page_added' | translate }}</span>
        </div>
        <div class="domain--config-status" ng-if="!vm.loading && !vm.trackingDomainStatus">
                <svg id="alertIconTracking" class="icon alert-icon">
                    <use xlink:href="/images/sprite.svg#doppler-icon-alert-icon"></use>
                </svg>
                <span>{{ 'domain_tracking_status_warning_tooltip' | translate }}</span>
        </div>
        <label class="comment"><span>&#42;</span>{{'domain_manager_remember_hours_tracking_domain_update' | translate }}</label>
        <hr class="default" />
    </div>

    <div class="item section--wrapper flex">
        <h3 class="special">{{ 'dkim_configuration_help_spf_title' | translate }}</h3>
    </div>
    <div class="item section--wrapper">
        <p class="dkim--subtitle">{{'dkim_configuration_help_spf_subtitle' | translate:{companyName:companyName} }}
            <a class="domain-selected dkim--subtitle" target="_blank" href="https://help.dopplerrelay.com/{{ 'dkim_configuration_help_spf_subtitle_link_href' | translate }}">{{ 'dkim_configuration_help_spf_subtitle_link' | translate }}</a>
        </p>
        
        <hr class="small" />
        <label><strong>{{ 'dkim_configuration_help_spf_field' | translate }}</strong></label>
        <p>{{ 'dkim_configuration_help_spf_text' | translate }}</p>
        <hr class="small" />
        <label><strong>{{ 'configuration_page_status' | translate }}</strong></label>
        <div class="domain--config-status" ng-if="!vm.loading && vm.spfStatus">
        <svg id="okIconDkim" class="icon ok-icon">
            <use xlink:href="/images/sprite.svg#doppler-icon-ok-icon"></use>
        </svg>
        <span>{{ 'configuration_page_added' | translate }}</span>
        </div>
        <div class="domain--config-status" ng-if="!vm.loading && !vm.spfStatus">
        <svg id="alertIconDkim" class="icon alert-icon">
            <use xlink:href="/images/sprite.svg#doppler-icon-alert-iconorange"></use>
        </svg>
        <span>{{ 'domain_manager_status_warning_tooltip' | translate }}</span>
        </div>
        <hr class="default" />
    </div>
</section>
        