<section>
  <div class="section--wrapper">
    <h2>{{title}}</h2>
    <div class="box box-border">
      <h3 class="box-number">86 %</h3>
      <p class="box-p">reputacion de cuenta</p>
      <div><img src="./images/bar.jpg" /></div>
    </div>
    <div class="box box-border">
      <h3 class="box-number">12.865</h3>
      <p class="box-p">emails enviados en el mes</p>
      <h4 class="box-number">12.865</h4>
      <p class="box-p">emails enviados en el día</p>
    </div>
    <div class="box">
      <div class="box-border">
        <p class="box-p">pendientes</p>
        <h5>12.865 de 15.000</h5>
        <div><img src="./images/bar.jpg" /></div>
      </div>
      <div class="box-border">
        <p class="box-p">25/09/2015</p>
        <p class="box-p">proxima facturación</p>
    </div>
    </div>
  </div>
</section>
<section>
  <div class="section--wrapper">
    <h2>Volumen de envíos</h2>
    <div class="long-box"><div id="chart"></div></div>
    <div class="box">PRIMER BLOQUE</div>
    <div class="box">SEGUNDO BLOQUE</div>
    <div class="box">TERCER BLOQUE</div>
  </div>
</section>
<section>
  <div class="section--wrapper">
    <h2>{{title}}</h2>
  </div>
</section>
