<div class="section--wrapper second-line--header registration--link">
    <p>{{ 'have_account_text' | translate }} <a href="#/login">{{ 'login_now' | translate }}</a></p>
  </div>
<section class="registration">
  <div class="title--container flex flex--center flex--direction-column section--wrapper width--half text--center">
    <h2>{{'registration_title' | translate}}</h2>
    <p>{{'registration_subtitle' | translate}}</p>
  </div>
  <form method="post" id="form" name="form" novalidate>
    <div class="filter section--wrapper flex--direction-column">
      <div class="width--half">
        <div class="flex input-container">
          <div class="width--full margin-right">
            <label class="flex" for="firstName">{{'registration_first_name_label' | translate}}:</label>
            <input class="input input--medium margin-right width--full" ng-class="vm.submitted && form.firstName.$invalid ? 'error' : ''" id="firstName" type="text" name="firstName" ng-model="vm.firstName" maxlength="100" ng-maxlength="100" validation-errors-fluid required />
          </div>
          <div class="width--full">
            <label class="flex" for="lastName">{{'registration_last_name_label' | translate}}:</label>
            <input class="input input--medium width--full" ng-class="vm.submitted && form.lastName.$invalid ? 'error' : ''" id="lastName" type="text" name="lastName" ng-model="vm.lastName" maxlength="100" ng-maxlength="100" validation-errors-fluid required />
          </div>
        </div>
        <div class="flex input-container">
          <div class="width--full">
            <label class="flex" for="email">{{'registration_email_label' | translate}}:</label>
            <input class="input input--medium width--full" ng-class="vm.submitted && form.email.$invalid ? 'error' : ''" id="email" type="email" name="email" ng-model="vm.email" maxlength="100" ng-maxlength="100" placeholder="{{'registration_email_placeholder' | translate}}" email-format-validation validation-errors-fluid required />
            <!--
            <span class="input--error" ng-show="(vm.submitted || form.email.$dirty) && form.email.$error.email_already_exist"><i class="arrow--up"></i>{{'validation_error_email_already_exist' | translate}}</span>
            -->
          </div>
          <div ng-if="false">
            <!-- we are hidding this until we figure out how to get the password to login in activation page -->
            <label class="flex" for="password">{{'registration_pass_label' | translate}}:</label>
            <input class="input input--medium" ng-class="vm.submitted && form.password.$invalid ? 'error' : ''" id="password" type="password" name="password" ng-model="vm.password" pass="vm.password" maxlength="100" ng-maxlength="100" password-complex-validation />
          </div>
        </div>
        <div class="flex input-container">
          <div class="width--full margin-right">
            <label class="flex" for="company">{{'company_text' | translate}}:</label>
            <input class="input input--medium margin-right width--full" ng-class="vm.submitted && form.company.$invalid ? 'error' : ''" id="company" type="text" name="company" ng-model="vm.company" ng-change="vm.companyUpdated()" maxlength="100" ng-maxlength="100" validation-errors-fluid required />
          </div>
          <div class="width--full">
            <label class="flex" for="accountName">{{'registration_account_name_label' | translate}}:</label>
            <input class="input input--medium width--full" ng-pattern="vm.regexAllowedAccountName" ng-class="vm.submitted && form.accountName.$invalid ? 'error' : ''" id="accountName" type="text" name="accountName" ng-model="vm.accountName" ng-change="vm.accountNameUpdated()" maxlength="100" ng-maxlength="100" required />
            <span class="input--error" ng-show="(vm.submitted || form.accountName.$dirty) && form.accountName.$error.required"><i class="arrow--up"></i>{{'validation_error_required' | translate}}</span>
            <span class="input--error" ng-show="(vm.submitted || form.accountName.$dirty) && form.accountName.$error.accountname_already_taken"><i class="arrow--up"></i>{{'validation_error_accountname_already_taken' | translate}}</span>
            <span class="input--error" ng-show="(vm.submitted || form.accountName.$dirty) && form.accountName.$invalid && !form.accountName.$error.required && !form.accountName.$error.accountname_already_taken"><i class="arrow--up"></i>{{'invalid_account_name' | translate}}</span>            
          </div>
        </div>
      <div class="flex section--wrapper-input terms">
        <div class="wrapper-input width--full">
          <input ng-model="vm.checkTerms" name="checkTerms" type="checkbox" required/><span>{{'confirmation_terms' | translate}}</span> <a target="_blank" href="https://www.dopplerrelay.com/privacidad">{{'confirmation_terms_link' | translate}}</a><a target="_blank" href="https://www.dopplerrelay.com/terminos-condiciones">{{'confirmation_terms_2' | translate}}</a>
        </div>
        <div class="wrapper-input width--full">
          <span class="input--error" ng-show="vm.submitted && form.checkTerms.$error.required"><i class="arrow--up"></i>{{'validation_error_required' | translate}}</span>
        </div>
      </div>
      <div class="flex input-container submit flex--content-end">
          <div
          vc-recaptcha
          size="invisible"
          required="false"
          ng-if="vm.recaptchaAvailable"
          key="'6LdsJDkUAAAAAIS3Yekw_VhggSKszU5KM8uycfhS'"
          on-create="vm.setWidgetId(widgetId)"
          on-success="vm.setCaptchaResponse(response)"
          on-expire="vm.reloadCaptcha()"
          data-badge="bottomright"></div>
          <button class="button button--large" type="submit" ng-click="vm.submitRegistration(form)">{{'registration_submit' | translate}}</button>
      </div>
      <div class="flex flex--left section--wrapper flex--direction-column width--full gdpr--container">
        <p ng-bind-html="'registration_gdpr_details_1' | translate"></p>
        <p ng-bind-html="'registration_gdpr_details_2' | translate"></p>
        <p ng-bind-html="'registration_gdpr_details_3' | translate"></p>
        <p ng-bind-html="'registration_gdpr_details_4' | translate"></p>
        <p ng-bind-html="'registration_gdpr_details_5' | translate"></p>
      </div>
    </div>
  </div>
  </form>
</section>
