<div class="modal--wrapper ms-relay">
  <div class="modal--outter text--center error-container">
    <span ng-click="vm.closeModal()">X</span>
    <h3>{{'error_popup_title' | translate}}</h3>
    <div ng-if="!vm.isAuthorizationModal">
      <p ng-if="!vm.rejectionTitle" ng-bind-html="vm.errorMessage | translate:{action:vm.actionDescription}"></p>
      <p ng-if="vm.rejectionTitle" ng-bind-html="vm.errorMessage | translate:{action:vm.actionDescription, rejectionTitle:vm.rejectionTitle}"></p>
      <p>{{'error_popup_description' | translate}}</p>
      <button class="button button--large button--right" ng-click="vm.refresh()">{{'error_popup_button' | translate}}</button>
    </div>
    <div ng-if="vm.isAuthorizationModal">
      <p ng-bind-html="vm.errorMessage | translate:{statusCode:vm.statusCode, errorCode:vm.errorCode}"></p>
      <p ng-bind-html="error_popup_description_401/3 | translate"></p>
      <button class="button button--large button--right" ng-click="vm.closeModal()">{{'error_popup_button_401/3' | translate}}</button>
    </div>
  </div>
</div>
