<section class="login container ms-relay">
  <div class="section--wrapper width--full text--center">
    <h1 id="header-login">{{'login_title' | translate:{companyName:companyName} }}</h1>
    <h4>{{'login_subtitle' | translate}}</h4>
    
    <!-- Error message -->
    <div class="section--wrapper-input" ng-if="vm.error">
      <div class="input--error">
        <i class="arrow--up"></i>{{ vm.error }}
      </div>
    </div>

    <!-- Loading spinner -->
    <div class="section--wrapper-input" ng-if="vm.isLoading">
      <div class="spinner">
        <div class="spinner__circle"></div>
      </div>
    </div>

    <!-- Login button -->
    <div class="section--wrapper-button">
      <button 
        class="button button--medium" 
        ng-click="vm.submitLogin()"
        ng-disabled="vm.isLoading">
        {{'login_button' | translate}}
      </button>
    </div>

    <div id="sign-in"></div>
  </div>
</section> 

<script>
  window.addEventListener('load', async function () {
    await Clerk.load();
    const signInDiv = document.getElementById('sign-in');
    Clerk.mountSignIn(signInDiv);
  })
</script>
