<section class="login admin container ms-relay">
    <form method="post" id="loginform" autofill-submit="vm.submitLogin(loginform)" name="loginform" novalidate>
        <div class="section--wrapper width--full text--center">
        <h1 id="header-login">{{'login_admin_title' | translate:{companyName:companyName} }}</h1>
        <div class="section--wrapper-input email">
            <label for="email">{{'login_admin_email_label' | translate}}</label>
            <input class="input input--large" ng-class="{true: 'error'}[submitted && loginform.email.$invalid]" id="email" type="email" name="email" ng-model="vm.email" ng-minlength="3" placeholder="{{'login_admin_email_placeholder' | translate}}" ng-change="vm.updateValidation(loginform)" required autofill />
            <span class="input--error" ng-show="submitted && loginform.email.$error.required"><i class="arrow--up"></i>{{'validation_error_required' | translate}}</span>
            <span class="input--error" ng-show="submitted && loginform.email.$error.email && !loginform.email.$error.error"><i class="arrow--up"></i>{{'login_error_invalid_email' | translate}}</span>
            <span class="input--error" ng-show="submitted && loginform.email.$error.error_impersonate"><i class="arrow--up"></i>{{'login_error_invalid_account_impersonate' | translate}}</span>
            <span class="input--error" ng-show="submitted && loginform.email.$error.error && !loginform.email.$error.required"><i class="arrow--up"></i>{{'login_error_invalid_account' | translate}}</span>
        </div>
        <div class="section--wrapper-input password--container">
            <label for="password">{{'login_pass_label' | translate}}</label>
            <input class="input input--large" ng-class="{true: 'error'}[submitted && loginform.password.$invalid]" id="password" type="password" name="password" ng-model="vm.password" placeholder="{{'login_pass_placeholder' | translate}}" ng-change="vm.updateValidation(loginform)" required autofill />
            <span class="input--error" ng-show="submitted && loginform.password.$error.required"><i class="arrow--up"></i>{{'validation_error_required' | translate}}</span>
            <span class="input--error" ng-show="submitted && loginform.password.$error.error && !loginform.password.$error.required"><i class="arrow--up"></i>{{'login_error_invalid_account' | translate}}</span>
        </div>
        <div class="section--wrapper-input email-account--container">
                <label for="userData">{{'login_admin_email_account_label' | translate}}</label>
                <input class="input input--large" ng-class="{true: 'error'}[submitted && loginform.userData.$invalid]" id="userData" type="text" name="userData" ng-model="vm.userData" ng-minlength="3" placeholder="{{'login_admin_email_account_placeholder' | translate}}" ng-change="vm.updateValidation(loginform)" required autofill />
                <span class="input--error" ng-show="submitted && loginform.userData.$error.required"><i class="arrow--up"></i>{{'validation_error_required' | translate}}</span>                
                <span class="input--error" ng-show="submitted && loginform.userData.$error.error && !loginform.userData.$error.required"><i class="arrow--up"></i>{{'login_error_invalid_impersonate' | translate}}</span>
            </div>
        <div class="submit section--wrapper-button">
            <!-- TODO: use a button element in place of class button -->
            <input class="button button--medium" type="submit" value="{{'login_button' | translate}}" ng-click="submitted=true">
        </div>
        </div>
    </form>
</section>
      